.content{
    padding: 20px 0;

    .msg_box{
        border: 1px solid #ccc;
        border-radius: 5px;
        min-height: 480px;
        max-height: 550px;
        overflow-y: scroll;    

        li{
            margin: 10px 5px;

            .sender{
                font-size: 14px;
            }

            .msg{
                border-radius: 5px;
                background: #3e3e3e;
                color: #fff;
                font-size: 12px;
                line-height: 18px;
                padding: 5px 10px;
            }
        }
    }
}