.avatar_uploader,
.avatar_uploader_trigger,
.avatar {
  width: 150px;
  height: 150px;
}
.avatar_uploader {
  display: block;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
}
.avatar_uploader_trigger {
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
  color: #999;
}