<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- iOS 8 iPhone 6 (portrait) --> 
  <link rel="apple-touch-startup-image" href="/startup_5.png" media="(device-width: 320px) and (device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" />
  <link rel="apple-touch-startup-image" href="/startup_6.png" media="(device-width: 375px) and (device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" />
  <link rel="apple-touch-startup-image" href="/startup_plus.png" media="(device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)" /> 
  <link rel="apple-touch-icon" href="/st.jpg"/>
  <meta name ="apple-mobile-web-app-title" content ="探小店探小店商城后台后台">  
  <meta name ="apple-mobile-web-app-status-bar-style" content ="black-translucent">
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">

  <meta http-equiv="x-dns-prefetch-control" content="on">
  <title>探小店后台</title>
  <!--[if lte IE 10]>
      <script
        src="https://as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,media-match/2.0.2/media.match.min.js"></script>
  <![endif]-->
  <style>
      #root{
        height: 100%;
      }
  </style>
</head>
<body>
<div id="root"></div>
<script src="roadhog.dll.js"></script>
</body>
</html>